{% extends 'layout.html' %}

{% block content %}
    
<html>
    
         <body>
                <br><br><br><br><br><br><br><br><br>
                <div class="btn-group-lg" role="group" aria-label="Basic example">
                    <center>
                    <button type="button" class="btn btn-success"><a class="nav-link" href="/RanNumBR" style="color:white;font-size:120px;">ยืมกล้อง</a></button>
                    <button type="button" class="btn btn-danger"><a class="nav-link" href="/RanNumBack" style="color:white;font-size:120px;">ยืมกล้อง</a></button>
                    </center>
                  </div>
           
                 
           
          </body>
</html>

   
    

{% endblock %}