{% extends 'layout.html' %}   <!--คือเหมือนกับการ import เข้ามา-->

{% block content %}
 <!-- <h2>Homepage</h2>
        <p>institute of feild robotics</p>
        <h1>Dgango</h1> -->
        <h2>ผู้ยื่ม {{name}}</h2>
        <h2>Number Camera {{number_Camera}}</h2>
        
        <h2>วัน</h2>
        <ul>
        {% for day in week %}     <!--oped for loop-->
            <li>{{day}}</li>
        {% endfor %}            <!--close for loop-->
        </ul>
        
        <h2>จำนวนคงเหลือ</h2>
        {% if remaining > 0%}
            <h3>{{remaining}}</h3>
        {% else %}
            <h3>หมดแล้ว</h3>
        {% endif %}
{% endblock %}